/* <h1>Auction Status App</h1>
<div class="cardcontainer">
    <div class="card">
        <div class="top">
             <div class="status-top">
                <div class="status">APPROVED</div>
                <span class="caseNo"><p>S230SKAN</p></span>
             </div>
             <div class="date">MAR 24, 2023, 5:03:24PM</div>
        </div>
        <div class="bottom">
            <div class="location">
                <b>Bellenduru spike lake</b>
            </div>
            <div class="location-address">
                <P>KHB Colony, Basaveshwar Nagar, Bengaluru, Karnataka, India</P>
            </div>
            <div class="price">₹ 0</div>
        </div>
    </div>
</div> */
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
.cardcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.card{
    border: 1px solid green;
    border-radius: 10px;
    margin: 10px;
}
h1{
    background-color: black;
    color: white;
    padding: 10px 0px;
    position: sticky;
    top: 0;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid blue;
}
.status-top{
    margin-bottom: 10px;
}
.bottom{
    margin: 10px;
    padding: 10px;
}
.location{
    margin-bottom: 15px;
}
.price{
    float: right;
}
.caseNo p{
    padding-top: 10px;
}
.status-top .status{
    /* background-color: blue;
    color: white; */
    border-radius: 5px;
    padding: 5px;
}
.approved{
    background-color: blue;
    color: white;
}
.pending{
    background-color: yellow;
    color: black;
}
.cancelled{
    background-color: red;
    color: white;
}
.completed{
    background-color: green;
    color:white;
}